.word-enter {
  opacity: 0.01;
  position: absolute;
}

.word-enter.word-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
}

.word-exit {
  opacity: 1;
  position: absolute;
}

.word-exit.word-exit-active {
  opacity: 0.01;
  transition: all 300ms ease-in;
}

.word-item {
  cursor: pointer;
  position: relative;
}

.word-item:hover {
  background: aqua;
  color: #fff;
}

.word-item:hover::after {
  content: "\274C";
  position: absolute;
  right: 1rem;
}