.route-enter {
  opacity: 0.01;
  transform: translateX(-50vw);
  position: absolute !important;
}

.route-enter.route-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms ease-in;
}

.route-exit {
  opacity: 1;
  transform: translateX(0);
  position: absolute !important;
}

.route-exit.route-exit-active {
  opacity: 0.01;
  transform: translateX(50vw);
  transition: all 300ms ease-in;
}